a, a:focus, a:hover, a:link {
    text-decoration: none !important;
    /*color: inherit !important;*/
}
.about-us-text ul {
    padding-left: 20px !important;
    width: 95% !important;
}
.about-us-text {
    max-width: 100% !important; 
}
.about-us-text h1, .about-us-text h2, .about-us-text h3, .about-us-text h4, .about-us-text h5, .about-us-text h6 {
    /*text-align: left !important;*/
}
.contact-action-table {
    text-align: left !important;
}
.share-buttons.inprofile .share-button i {
    height: 35px !important;
    width: 35px !important;
    font-size: 25px !important;
    border-radius: 10px 0px 10px 0px !important
}
.footer {
    z-index: 2;
}
#products-services-section .card, #products-services-section div {
    text-align: justify !important;
    line-height: 22px !important;
    font-size: 14px;
}
#products-services-section .card ul {
    margin-bottom: 10px !important;
}
#caption {
    disply:none !important;
}
.iti {
    width: 100%;
}
.iti__country-name, .iti__flag-box {
    color: #555555;
}
.section-container .container{
    width: 100% !important;
}
#products-services-section .card section, #products-services-section .card div, #products-services-section .card ul {
    margin:0px !important;
    padding:0px !important;
    width: 100% !important;
}
#products-services-section .card ul li {
    width: 100% !important;
    min-height: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    list-style-type: disc !important;
    list-style: disc !important;
    margin-left: 15px !important;
    display: list-item !important;
    text-align: left !important;
}
#imageModal #imageModalClose {
    background-color: #fff !important;
    padding: 5px !important;
    border-radius: 25px !important;
    opacity: 1 !important;
    z-index: 2 !important;
}
#imageModal {
    overflow: scroll !important;
    padding-top: 20px !important;
}
.product-enquiry-btn {
    margin-top: 15px !important;
}
#products-services-section .card ul {
    list-style-type: disc !important;
    list-style: disc !important;
}
#feedbackModal .modal-body {
    color: #333;
}
#products-services-section .card .product-price {
    display: inline-block !important;
    width: 60% !important;
}
#home-section .contact-buttons i{
    line-height: 1;
    font-size: 14px;
}
#home-section table.contact-action-table i{
    line-height: 2;
    font-size: 16px;
}
#home-section .round-contact-buttons i{
    line-height: 2;
    font-size: 20px;
}
#home-section table.contact-action-table a.square-bg-btn i {
    line-height: 2.5;
    font-size: 16px;
}
#gallery-section .col-md-4 {
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 33.333333% !important;
    -ms-flex: 0 0 33.333333% !important;
    flex: 0 0 33.333333% !important;
    max-width: 94% !important;
    width: 100% !important;
}
/*#video-section .row div {
	width: 100%;
}*/
#products-services-section table, #about-us-section table {
    width: 100% !important;
}
.section-header {
    padding-top: 15px !important;
}
/*.shadow-button .shadow-button-icon, .shadow-button {
    color: #000 !important;
}
.shadow-button {
    color: #000 !important;
    background: var(--theme-color-light) !important;
}*/
a:hover, a:focus {
    text-decoration: none !important;
}

@media only screen and (max-width: 480px) {
  .footer-menu li {
    min-width: 85px !important;
}
.footer-menu .footer-menu-link {
    padding: 5px 0px !important;
}
#imageModal #imageModalClose {
    right: 5px !important;
}
}


.filter-button {
    border-color: #2196f3 !important;
    color: #2196f3 !important;
}
.filter-button.active {
    border-color: #2196f3 !important;
    background-color: #2196f3 !important;
    color: #FFF !important
}
.filter-button:hover {
    border-color: #2196f3 !important;
    background-color: #2196f3 !important;
    color: #FFF !important
}


    .card_content {text-align: center;
    margin: 44px auto 10px;
    z-index: 2;}
    .card_content img{height: 100px;
    max-width: 300px;
    border-radius: 12px;
    border: 3px solid white;
    padding: 3px;background: white;}


        .purchase-form__renewal-price--strikethrough {
        text-decoration: line-through;
        color: red;
    }

    .card_content2 {z-index: 2;
    text-align: center;
    font-weight: 400;
    margin: 0;}
    .card_content2 h2{font-weight: 400;
    margin: 0px;
    letter-spacing: -1px;
    text-transform: capitalize;
    font-size: 20px;
    border-bottom: 3px solid #f9aa79;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 10px;
    color: #FFF;
}
    .card_content2 p{margin: 6px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: #f4f4f4;}
.dis_flex {display: block;
    text-align: center;
    padding: 4px 14px}
.dis_flex .link_btn {background: #0278b0;
    color: white;
    margin: 5px;
    border-radius: 20px;
    padding: 5px 11px;
    width: fit-content;
    font-size: 10px;
    margin: 10px 0px;
    display: inline-block;
    box-shadow: 1px 1px 10px 0px #00000040;}

    .share_wtsp form{    display: flex;
    margin: 14px auto 20px;
    position: relative;
    width: fit-content;}
    .wtsp_share_btn  {background-color: #2196f3;
    color: white;
    font-size: 12px;
    padding: 10px;cursor:pointer}
    .wtsp_share_btn i {}
    
    
    .share_box .close { font-size: 47px;
    text-align: end;
    padding: 0px 10px;
    font-weight: 400;
    color: red;}
    
    #whatsapp2 {background:#1aab2c;color:white}
    .fa-comment-dots     {background: #1cbdff;
    color: white;}
    .share_box .close i {}
    .share_box {
        display:none;
        background: white;
    color: black;
    position: fixed;
    top: 10%;
    width: 351px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #00000033;
    z-index: 3;
    border-radius: 11px;}
    .shar_btns {    width: 100px;
    text-align: center;
    display: inline-block;}
    .shar_btns i{padding: 10px;
    border-radius: 8px;}
    .shar_btns p{font-size: 10px;}
    
    /* animated button */
    .btn2 {background: #4CAF50;
    color: white;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px 0px #00000017;}
    



 .order_box {width: 142px;
    display: inline-block;
    margin: 6px auto;
    vertical-align: text-top;
    border-radius: 4px;
    background: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #00000030;
    border: 2px solid #FF9800;
}
 .order_box img{width: 100%;
    max-height: 100px;}
 .order_box h2{padding: 9px 0px 3px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;}
 .order_box h4{padding: 0px 0px 7px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #4CAF50;
}
 .order_box p{padding: 2px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: gray;}
 .btn_buy{background: #FF5722;
    color: white;
    padding: 8px 10px;
    text-align: center;
    font-size: 12px;
    width: fit-content;
    margin: 0 auto 10px;
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
}

.gallery_section {
     display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
 }




 .order_box {
    width: 142px;
    display: inline-block;
    margin: 6px auto;
    vertical-align: text-top;
    border-radius: 4px;
    background: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #00000030;
    border: 2px solid #2196f3;
}
 .order_box img{width: 100%;
    max-height: 100px;}
 .order_box h2{padding: 9px 0px 3px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;}
 .order_box h4{padding: 0px 0px 7px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #4CAF50;
}
 .order_box p{
    padding: 2px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: gray;}
 .btn_buy{background: #2196f3 ;
    color: white;
    padding: 8px 10px;
    text-align: center;
    font-size: 12px;
    width: fit-content;
    margin: 0 auto 10px;
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
}



.contact-action-table td{
    padding-bottom: 0.5vw;
}


#youtube_video-section iframe {margin: 8px auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    border-radius: 5px;
    width: auto;
    height: 188px;}
    .btn_6 {background: #c72d31;
    width: fit-content;
    padding: 9px;
    font-size: 12px;
    margin: 0 auto;
    border-radius: 4px;
    color: white;
    box-shadow: 0px 0px 10px 0px #0000} 

 #youtube_video-section .order_box {
    width: 100%;
    display: inline-block;
    margin: 6px auto;
    vertical-align: text-top;
    border-radius: 4px;
    background: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #00000030;
    border: 2px solid #2196f3;
}
